@import 'var';

@keyframes flydown {
    from {
      transform: translateY(-100vh);
    }
    to {
      transform: translateY(0);
    }
}
@keyframes flyup {
    from {
      transform: translateY(100vh);
    }
    to {
      transform:  translateY(0);
    }
}

@keyframes barflyup {
    from {
      transform: translateY(20vh);
    }
    to {
      transform:  translateY(0);
    }
}

@keyframes flyinleft {
    from {
      transform: translateX(-60vw);
    }
    to {
      transform: translateX(0);
    }
}
@keyframes flyinright {
    from {
      transform: translateX(60vw);
    }
    to {
      transform:  translateX(0);
    }
}
@include keyframes(fadein) {
  from {  opacity: 0; }
  to {  opacity: 1; }
}

/*------------   Button Animation   ------------*/
@keyframes moveToRight {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes fadeColumn {
  0%   { opacity: 1; }
  100%  { opacity: 0; }
}
