@import 'var';
@import 'anime';

.bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  .animeBg {
    position: relative;
    display: flex;
    height: 100%;

    img {
      flex: 1 1 10%;
    }

    // &:nth-child(2n+1){
    #flydown{
      animation: flydown 1500ms ease-in-out forwards;
    }
    #flyup{
      animation: flyup 1500ms ease-in-out forwards;
    }

  }
  .animeBg-narrow {
    position: fixed;
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 5vw;
    justify-content: space-around;

    img {
      flex: 1 1 10%;
    }
    .space-hodler {
      display: flex;
      flex: 5 1 50%;

      @media #{$phone} {
        display: none;
      }
    }

    #flyinleft{
      animation: flyinleft 1500ms ease-in-out forwards;
    }
    #flyinright{
      animation: flyinright 1500ms ease-in-out forwards;
    }
  }

  .phone-hidden{
    @media #{$phone} {
      display: none;
    }
  }
  .tablets-hidden{
    @media #{$tablet} {
      display: none;
    }
  }
}

.footer-container{
  position: fixed;
  bottom: 8vh;
  left: 50%;
  width: $chat-con-max-width;
  transform: translateX(-50%);
  opacity: 0;
  // animation: fadein;
  @include animation('fadein 1000ms ease-in-out 2s forwards');

  .ui.grid.footer-links{
    .social-link{
      color: $footer-link-color;
      font-family: $font-stack;
      text-decoration: underline;
      font-size: 1.2rem;
      font-weight: 600;
    }
    @media #{$phone} {
      display: none;
    }
  }

  .ui.grid.footer-icons{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transform: translateY(20vh);
    border-top: 1px solid $border-gray;
    background: $chat-con-bgcolor;
    @media #{$phone} {
      @include animation('barflyup 1200ms ease-in-out 2.4s forwards');
    }
  }

  .copyright-des{
    margin-top: 2vh;
    text-align: center;
    color: $footer-copyright-color;
    p{
      margin: 0 0 .6rem 0;
    }
    @media #{$phone} {
      display: none;
    }
  }

  @media #{$phone} {
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
  }

}
