@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*----------------- MEDIA QUERY -----------------*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*----------------- MEDIA QUERY -----------------*/
@keyframes flydown {
  from {
    transform: translateY(-100vh); }
  to {
    transform: translateY(0); } }

@keyframes flyup {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }

@keyframes barflyup {
  from {
    transform: translateY(20vh); }
  to {
    transform: translateY(0); } }

@keyframes flyinleft {
  from {
    transform: translateX(-60vw); }
  to {
    transform: translateX(0); } }

@keyframes flyinright {
  from {
    transform: translateX(60vw); }
  to {
    transform: translateX(0); } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*------------   Button Animation   ------------*/
@keyframes moveToRight {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes fadeColumn {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .3; }
  .bg-container .animeBg {
    position: relative;
    display: flex;
    height: 100%; }
    .bg-container .animeBg img {
      flex: 1 1 10%; }
    .bg-container .animeBg #flydown {
      animation: flydown 1500ms ease-in-out forwards; }
    .bg-container .animeBg #flyup {
      animation: flyup 1500ms ease-in-out forwards; }
  .bg-container .animeBg-narrow {
    position: fixed;
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 5vw;
    justify-content: space-around; }
    .bg-container .animeBg-narrow img {
      flex: 1 1 10%; }
    .bg-container .animeBg-narrow .space-hodler {
      display: flex;
      flex: 5 1 50%; }
      @media only screen and (orientation: portrait) and (max-width: 414px) {
        .bg-container .animeBg-narrow .space-hodler {
          display: none; } }
    .bg-container .animeBg-narrow #flyinleft {
      animation: flyinleft 1500ms ease-in-out forwards; }
    .bg-container .animeBg-narrow #flyinright {
      animation: flyinright 1500ms ease-in-out forwards; }
  @media only screen and (orientation: portrait) and (max-width: 414px) {
    .bg-container .phone-hidden {
      display: none; } }
  @media only screen and (min-width: 415px) and (max-width: 768px) {
    .bg-container .tablets-hidden {
      display: none; } }

.footer-container {
  position: fixed;
  bottom: 6vh;
  left: 50%;
  width: 70vw;
  transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: fadein 1000ms ease-in-out 2s forwards;
  -moz-animation: fadein 1000ms ease-in-out 2s forwards;
  -o-animation: fadein 1000ms ease-in-out 2s forwards;
  animation: fadein 1000ms ease-in-out 2s forwards; }
  @media screen and (orientation: landscape) and (max-width: 823px) {
    .footer-container {
      display: none; } }
  @media only screen and (min-width: 415px) and (max-width: 768px) {
    .footer-container {
      bottom: 4vh; } }
  .footer-container .ui.grid.footer-links .social-link {
    color: #3f3a3a;
    font-family: "SF Display", Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 600; }
  @media only screen and (orientation: portrait) and (max-width: 414px) {
    .footer-container .ui.grid.footer-links {
      display: none; } }
  .footer-container .ui.grid.footer-icons {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transform: translateY(40vh);
    border-top: 1px solid #e7e7e7;
    background: #FFF; }
    @media only screen and (orientation: portrait) and (max-width: 414px) {
      .footer-container .ui.grid.footer-icons {
        -webkit-animation: barflyup 1200ms ease-in-out 2.4s forwards;
        -moz-animation: barflyup 1200ms ease-in-out 2.4s forwards;
        -o-animation: barflyup 1200ms ease-in-out 2.4s forwards;
        animation: barflyup 1200ms ease-in-out 2.4s forwards; } }
  .footer-container .copyright-des {
    margin-top: 2vh;
    text-align: center;
    color: #9b9b9b; }
    .footer-container .copyright-des p {
      margin: 0 0 .6rem 0; }
    @media only screen and (orientation: portrait) and (max-width: 414px) {
      .footer-container .copyright-des {
        display: none; } }
  @media only screen and (orientation: portrait) and (max-width: 414px) {
    .footer-container {
      bottom: 0;
      left: 0;
      width: 100%;
      transform: translateX(0); } }
