.chatbox-container {
  margin: 8vh auto 22vh auto;
  padding: 1.4rem 2rem;
  max-width: 76vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 9px;
  background-color: #FFF;
  box-shadow: -1px 2px 28px 1px rgba(155, 155, 155, 0.35);
  /*------------  TEXT bubble container   ------------*/
  /*------------   Text Animation   ------------*/
  /*------------  image bubble container   ------------*/
  /*------------   button group container   ------------*/
  /*------------   Button Animation   ------------*/
  /*------------   cards container   ------------*/
  /*------------   general bubble styles  ------------*/
  /*------------   general bubble styles  ------------*/
  /*------------   general styles  ------------*/ }
  .chatbox-container .bub-fullwidth:after {
    content: "";
    clear: both;
    display: block; }
  .chatbox-container .text-bubble {
    text-align: left;
    max-width: 40rem;
    padding: 0.8rem 1.8rem;
    border-radius: 1.2rem;
    position: relative;
    margin: 0.6rem 0; }
    .chatbox-container .text-bubble p {
      margin: 0.2rem auto;
      font-size: 1rem; }
  .chatbox-container .text-bubble.left-bubble {
    background: #f7f7f7; }
    .chatbox-container .text-bubble.left-bubble:after {
      content: url("../res/bubble_tail.svg");
      position: absolute;
      left: 0;
      bottom: -.8rem; }
  .chatbox-container .text-bubble.right-bubble {
    background: #1fdab0;
    color: #FFF; }
    .chatbox-container .text-bubble.right-bubble:after {
      content: url("../res/bubble_tail_R.svg");
      position: absolute;
      right: 0;
      bottom: -.8rem; }

@keyframes textBubExpand {
  from { }
  to { } }
  .chatbox-container .imgbub-container {
    margin: 1.4rem; }
  .chatbox-container .btn-container {
    text-align: center;
    margin: 1em auto; }
    .chatbox-container .btn-container .btn-group-label {
      text-align: center;
      color: #d3d3d3;
      font-size: 0.8rem; }
    .chatbox-container .btn-container .btn-group {
      width: 100%;
      margin: 0.6rem 0;
      text-align: center; }
      .chatbox-container .btn-container .btn-group .row.column {
        padding: 0; }
      .chatbox-container .btn-container .btn-group .ui.primary.button {
        background-color: #1fdab0;
        border-radius: 1.4rem;
        font-size: 1rem;
        box-shadow: 0 0 6px 1px rgba(74, 74, 74, 0.3); }
        .chatbox-container .btn-container .btn-group .ui.primary.button:hover {
          background-color: #19ad8c; }
      .chatbox-container .btn-container .btn-group .ui.primary.button.roundBtn {
        margin: 0 auto;
        padding: 0.2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem; }
      .chatbox-container .btn-container .btn-group .button.ui {
        transition: all 1s ease-out; }
    .chatbox-container .btn-container .bub-fullwidth .ui.button.text-bubble.right-bubble {
      margin-top: 0.6rem;
      background-color: #1fdab0;
      color: #FFF; }
      .chatbox-container .btn-container .bub-fullwidth .ui.button.text-bubble.right-bubble:after {
        content: url("../res/bubble_tail_R.svg");
        position: absolute;
        right: 0;
        bottom: -.8rem; }
    .chatbox-container .btn-container .hiddenAnime {
      /* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
      animation: 500ms ease-in both fadeColumn; }

@keyframes moveToRight {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes fadeColumn {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .chatbox-container .cards-container .ui.card {
    width: 100%;
    margin: 0; }
    .chatbox-container .cards-container .ui.card .content .meta {
      margin: 0.6rem 0; }
      .chatbox-container .cards-container .ui.card .content .meta .card-label {
        color: #33cca6;
        padding: 0.2rem 0.6rem;
        border-radius: 1rem;
        background: #d0eee7; }
  .chatbox-container .ui.grid.cards-container {
    margin: 0.6rem; }
  .chatbox-container .input-container .input-pw-form {
    margin-top: 1.4rem;
    padding: .4rem 25%; }
    .chatbox-container .input-container .input-pw-form .input-header {
      margin-bottom: 0.6rem;
      text-align: center;
      position: relative; }
      .chatbox-container .input-container .input-pw-form .input-header .back-button {
        color: #1fdab0;
        line-height: 1rem;
        font-size: 0.8rem;
        position: absolute;
        left: -15%; }
      .chatbox-container .input-container .input-pw-form .input-header .input-label {
        margin: auto;
        color: #d3d3d3;
        line-height: 1rem;
        font-size: 0.8rem; }
    .chatbox-container .input-container .input-pw-form .input-password {
      border-radius: 1rem; }
      .chatbox-container .input-container .input-pw-form .input-password input {
        border: 2px solid #979797;
        border-radius: 1.4rem;
        caret-color: #1fdab0;
        font-size: 1rem; }
        .chatbox-container .input-container .input-pw-form .input-password input:focus {
          border-radius: 1.4rem;
          border: 2px solid rgba(151, 151, 151, 0.5);
          color: #1fdab0; }
      .chatbox-container .input-container .input-pw-form .input-password .icon {
        font-size: 1rem; }
    .chatbox-container .input-container .input-pw-form .input-email-link {
      text-decoration: underline;
      color: #1fdab0;
      cursor: default;
      background: transparent;
      font-size: 0.8rem;
      display: block;
      margin: 0 auto;
      padding: 0; }
      .chatbox-container .input-container .input-pw-form .input-email-link:hover {
        color: #19ad8c; }
  .chatbox-container .input-container .input-request-form {
    border: 1px solid #1fdab0;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem; }
    .chatbox-container .input-container .input-request-form .form-input label {
      text-align: left;
      padding: 0 0 0.6rem 1rem;
      color: #1fdab0; }
    .chatbox-container .input-container .input-request-form .form-input input[type="text"], .chatbox-container .input-container .input-request-form .form-input textarea {
      background-color: #f7f7f7;
      color: #9b9b9b; }
      .chatbox-container .input-container .input-request-form .form-input input[type="text"]:focus, .chatbox-container .input-container .input-request-form .form-input textarea:focus {
        outline: none !important;
        border: 1px solid #1fdab0;
        box-shadow: 0 0 6px 1px rgba(74, 74, 74, 0.3); }
    .chatbox-container .input-container .input-request-form .form-input textarea {
      height: 10rem; }
    .chatbox-container .input-container .input-request-form .ui.button {
      border-radius: 1.4rem; }
  .chatbox-container .left-bubble {
    float: left; }
  .chatbox-container .right-bubble {
    float: right; }
  .chatbox-container .borderless-btn {
    border: none; }
  .chatbox-container .heightHolder {
    opacity: 0; }
