@import 'var';

.chatbox-container{
  margin: 8vh auto 22vh auto;
  padding: $md-pw $lg-pw;
  max-width: 76vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 9px;
  background-color: $chat-con-bgcolor; // $background-color;
  box-shadow: -1px 2px 28px 1px rgba(155, 155, 155, 0.35);

  .bub-fullwidth{
    &:after{
      content: "";
      clear: both;
      display: block;
    }
  }
  .bub-90wid-center{
    width: 90%;
    text-align: center;
    margin: 1em auto;
  }
  .bub-60wid-center{
    width: 60%;
    text-align: center;
    margin: 1em auto;
  }

  /*------------  TEXT bubble container   ------------*/
  .text-bubble{
    text-align: left;
    max-width: 40rem;
    padding: $bub-pw;
    border-radius: $bub-radius;
    position: relative;
    // box-shadow: -1px 2px 2px 1px rgba(155, 155, 155, 0.2);
    margin-bottom: $md-pw;

    p{
      margin: $text-pw auto;
      font-size: $bub-text-size;
    }
  }
  .text-bubble.left-bubble{
      background: $bot-bub-color;
      &:after{
        content: url('../res/bubble_tail.svg');
        position: absolute;
        left: 0;
        bottom: -.8rem;
      }
  }
  .text-bubble.right-bubble{
      background: $user-bub-color;
      color: $user-bub-text-color;

      &:after{
        content: url('../res/bubble_tail_R.svg');
        // height: 2rem;
        // width: 2rem;
        position: absolute;
        right: 0;
        bottom: -.8rem;
      }
  }

  /*------------  image bubble container   ------------*/
  .imgbub-container{
    margin: $md-pw;
  }

  /*------------   button group container   ------------*/
  .btn-container{
    .btn-group-label{
      text-align: center;
      color: $bot-label;
      font-size: $label-font-size;
    }
    .btn-group{
      .ui.primary.button{
        background-color: $user-bub-color;
        border-radius: 1.4rem;
        font-size: $standard-font-size;
        box-shadow: $bub-btn-shadow;

        &:hover{
          background-color: darken( $user-bub-color, 10% );
        }
      }
    }
  }
  /*------------   cards container   ------------*/
  .cards-container{
    .ui.card{
      width: 100%;
      margin: 0;
      .content{
        .header{

        }
        .meta{
          margin: $mini-pw 0;
          .card-label{
            color: $green-text-color;
            padding: $text-pw $mini-pw;
            border-radius: $sm-pw;
            background: $light-green-color;
          }
        }
        .description{

        }
      }
    }
  }
  .ui.grid.cards-container{
    margin: $mini-pw;
  }

  /*------------   general bubble styles  ------------*/
  .input-container{
    .input-pw-form{
      margin-top: $md-pw;
      padding: .4rem 25%;
      .input-header{
        margin-bottom: $mini-pw;
        text-align: center;
        position: relative;
        .back-button{ // border: none;
          color: $primary-color;
          line-height: 1rem;
          font-size: $label-font-size;
          position: absolute;
          left: -15%;
        }
        .input-label{
          margin: auto;
          color: $bot-label;
          line-height: 1rem;
          font-size: $label-font-size;
        }
      }
      .input-password{
        border-radius: 1rem;
        input{
          border: 2px solid $mid-gray; // border-color: $mid-gray;
          border-radius: 1.4rem;
          caret-color: $primary-color;
          font-size: $standard-font-size;
          &:focus{
            border-radius: 1.4rem;
            border: 2px solid rgba($mid-gray, .5);
            color: $primary-color;
          }
        }
        .icon{
          font-size: $standard-font-size;
        }
      }
      .input-email-link{
        text-decoration: underline;
        color: $primary-color;
        cursor: default;
        background: transparent;
        font-size: $label-font-size;
        display: block;
        margin: 0 auto;
        padding: 0;

        &:hover{
          color: darken( $primary-color, 10% );
        }
      }
    }
    .input-request-form{
      border: 1px solid $primary-color;
      margin-top: $sm-pw;
      padding: $sm-pw;
      border-radius: $mini-pw;
      // background-color: $bot-bub-color;
      .form-input{
        label{
          text-align: left;
          padding: 0 0 $mini-pw $sm-pw;
          color: $primary-color;
        }
        input[type="text"], textarea{
          background-color: $bot-bub-color;
          color: $bot-bub-text-color;
          &:focus {
              outline: none !important;
              border:1px solid $primary-color;
              box-shadow: $bub-btn-shadow;
          }
        }
        textarea{
          height: 10rem;
        }
      }
      .ui.button{
        border-radius: $md-pw;
      }
    }
  }

  /*------------   general bubble styles  ------------*/
  .left-bubble{
    float: left;
  }
  .right-bubble{
    float: right;
  }
  .borderless-btn{
    border: none;
  }
}
