@import 'sffont';
@import 'var';

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack; // "SF Display", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  #root{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;

    .root-container{
      text-align: center;
      height: 100%;
      width: 100%;
    }
  }
}

html{
  // font-size: 14px; // 62.5%;

  /* Extra small devices (phones, 600px and down) */
  @media #{$phone} {
    font-size: 13px;
  }

  /* small devices (landscape tablets, 375px - 768px and up) */
  @media #{$tablet} {
    font-size: 14px;
  }

  /* Medium devices (landscape tablets, 769px and up) */
  @media  #{$sm-desk} {
     font-size: 16px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media #{$desktop} {
     font-size: 18px;
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1400px) {
     font-size: 20px;
  }
}
